In [1]:
# https://www.kaggle.com/uysimty/dog-breed-classification
    
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten, Dropout, BatchNormalization
from keras.layers import Conv2D, MaxPooling2D
from keras import optimizers

Using TensorFlow backend.

In [2]:
df = pd.read_csv('./dog-breed-identification/labels.csv')

In [3]:
df.head(10)

                                 id               breed
0  000bec180eb18c7604dcecc8fe0dba07         boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97               dingo
2  001cdf01b096e06d78e9e5112d419397            pekinese
3  00214f311d5d2247d5dfe4fe24b2303d            bluetick
4  0021f9ceb3235effd7fcde7f7538ed62    golden_retriever
5  002211c81b498ef88e1b40b9abf84e1d  bedlington_terrier
6  00290d3e1fdd27226ba27a8ce248ce85  bedlington_terrier
7  002a283a315af96eaea0e28e7163b21b              borzoi
8  003df8b8a8b05244b1d920bb6cf451f9             basenji
9  0042188c895a2f14ef64a918ed9c7b64  scottish_deerhound

In [4]:
df.sample(10)

                                    id                   breed
713   118089e60763cbdba239cac747a54a6e              rottweiler
2966  49316a21549beb0106c4ca7165d5f390           gordon_setter
6273  9e5fd58282bfd7649fbabc090d578287     irish_water_spaniel
741   1257cafca085d403a583378d525953d5                papillon
137   0341e3d7a4624d6a7b061fdc25b69044            irish_setter
383   0944fbca92fad9a38af10b3d1943cb54      miniature_pinscher
1171  1d414293940cdc0892721eb94151ddfd          great_pyrenees
8537  d6574a7c2c804a33cf3d29d917923349  welsh_springer_spaniel
9312  e9c694db39c5b8c904bf36c385fb171b              pomeranian
3852  5f6ceda86f7a13aff0fa2db67ffd48e0       italian_greyhound

In [5]:
df.describe()

                                      id               breed
count                              10222               10222
unique                             10222                 120
top     38d35ebad2ded36e23d24b39d9be2297  scottish_deerhound
freq                                   1                 126

In [6]:
df["filename"] = df['id'] + ".jpg"
df.head()

,id,breed,filename
0,000bec180eb18c7604dcecc8fe0dba07,boston_bull,000bec180eb18c7604dcecc8fe0dba07.jpg
1,001513dfcb2ffafc82cccf4d8bbaba97,dingo,001513dfcb2ffafc82cccf4d8bbaba97.jpg
2,001cdf01b096e06d78e9e5112d419397,pekinese,001cdf01b096e06d78e9e5112d419397.jpg
3,00214f311d5d2247d5dfe4fe24b2303d,bluetick,00214f311d5d2247d5dfe4fe24b2303d.jpg
4,0021f9ceb3235effd7fcde7f7538ed62,golden_retriever,0021f9ceb3235effd7fcde7f7538ed62.jpg

In [13]:
model = Sequential()
model.add(Conv2D(32, (3, 3), input_shape=(100, 100, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(32, (3, 3), input_shape=(100, 100, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(32, (3, 3), input_shape=(100, 100, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(32, (3, 3), input_shape=(100, 100, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(32, (3, 3), input_shape=(100, 100, 3)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Flatten())
model.add(Dense(200))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(120))
model.add(Activation('softmax'))

adam = optimizers.adam(lr=0.0001)
                               
model.compile(loss="categorical_crossentropy", optimizer=adam, metrics=['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_2 (Conv2D)            (None, 98, 98, 32)        896
_________________________________________________________________
activation_4 (Activation)    (None, 98, 98, 32)        0
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 49, 49, 32)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 47, 47, 32)        9248
_________________________________________________________________
activation_5 (Activation)    (None, 47, 47, 32)        0
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 23, 23, 32)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 21, 21, 32)        9248
_________________________________________________________________
activation_6 (Activation)    (None, 21, 21, 32)        0
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 10, 10, 32)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 8, 8, 32)          9248
_________________________________________________________________
activation_7 (Activation)    (None, 8, 8, 32)          0
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 4, 4, 32)          0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 2, 2, 32)          9248
_________________________________________________________________
activation_8 (Activation)    (None, 2, 2, 32)          0
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 1, 1, 32)          0
_________________________________________________________________
flatten_2 (Flatten)          (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 200)               6600
_________________________________________________________________
activation_9 (Activation)    (None, 200)               0
_________________________________________________________________
dropout_2 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_4 (Dense)              (None, 120)               24120
_________________________________________________________________
activation_10 (Activation)   (None, 120)               0
=================================================================
Total params: 68,608
Trainable params: 68,608
Non-trainable params: 0
_________________________________________________________________

In [14]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [15]:
train_df, valid_df = train_test_split(df, test_size=0.15, random_state=42)

In [16]:
train_gen = ImageDataGenerator(
    rescale=1.0/255,
    rotation_range=15,
    width_shift_range=0.2,
    height_shift_range=0.2,
    zoom_range=0.2,
    horizontal_flip=True
)
train_generator = train_gen.flow_from_dataframe(
    train_df,
    directory="./dog-breed-identification/train", 
    x_col="filename",
    y_col="breed",
    target_size=(100, 100),
    class_mode="categorical"
)

Found 8688 validated image filenames belonging to 120 classes.

In [17]:
valid_gen = ImageDataGenerator(
    rescale=1.0/255,
    rotation_range=15,
    width_shift_range=0.2,
    height_shift_range=0.2,
    zoom_range=0.2,
    horizontal_flip=True
)
valid_generator = train_gen.flow_from_dataframe(
    valid_df,
    directory="./dog-breed-identification/train", 
    x_col="filename",
    y_col="breed",
    target_size=(100, 100),
    class_mode="categorical"
)

valid_gen

Found 1534 validated image filenames belonging to 120 classes.

In [ ]:
model.fit_generator(train_generator, validation_data=valid_generator, epochs=10, steps_per_epoch=50,)

Epoch 1/10
50/50 [==============================] - 32s 649ms/step - loss: 4.7876 - accuracy: 0.0100 - val_loss: 4.7878 - val_accuracy: 0.0098
Epoch 2/10
50/50 [==============================] - 30s 607ms/step - loss: 4.7854 - accuracy: 0.0144 - val_loss: 4.7892 - val_accuracy: 0.0111
Epoch 3/10
25/50 [==============>...............] - ETA: 9s - loss: 4.7876 - accuracy: 0.0113

In [ ]:
scores = model.evaluate_generator(valid_generator)
print("Loss = ", scores[0])
print("Accuracy = ", scores[1])